.lan-about{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
    font-size: 150px;
    height: auto;
    padding: 300px 60px 300px 60px;
    backdrop-filter: blur(5px);
    
}

